<nav class="navbar navbar-expand-md navbar-light">
          
<a class="navbar-brand" href="/">
  <img src="img/logo.png" class="img-fluid">
</a>  

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-5 py-4 py-md-0">
    <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4 active">
      <a href="/home" class="nav-link1">Home</a>
    </li>
      <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
      <a href="/package" class="nav-link1">Packages</a>
    </li>
  <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
    <a href="#" class="nav-link1">Road Test Booking</a>
  </li>
<li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
    <a href="/job-opportunity" class="nav-link1">Job Opportunity</a>
  </li>

    <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
      <a href="/make-payment" class="nav-link1" href="#">Make Payment</a>
    </li>

      <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
      <a href="#" class="nav-link1" href="#">Online Course</a>
    </li>
  
   

     <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
      <a href="/contact-us" class="nav-link1" href="#">Contacts</a>
    </li>

   


  </ul>
</div>

</nav>  