<!DOCTYPE html>
<html lang="en">

<head>
    <title>Canadian Digital Driving School</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">
    <style>
        /* Make the image fully responsive */
        
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>

    <div class="navigation-wrap  start-header start-style">
        <div class="top-nav-1">
            <div class="">
                <div class="row">
                    <div class="col-sm-7">
                        <p class="top-nav-1-text-1"> MTO Approved. Beginner Driving Education Course Provider Gain eligibility for insurance discount</p>
                    </div>


                    <div class="col">
                        <span class="top-nav-1-text-1">Select Location</span>

                        <select class="make-payment-select-2" name="forma1" id="show_locations">
           
</select>


                    </div>



                </div>


            </div>



        </div>
        <div class="">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">

                        <a class="navbar-brand" href="/">
                            <img src="img/logo.png" class="img-fluid">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-5 py-4 py-md-0">
                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a href="/home" class="nav-link1">Home</a>
                                </li>
                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="/package" class="nav-link1">Packages</a>
                                </li>
                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="#" class="nav-link1">Road Test Booking</a>
                                </li>
                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="/job-opportunity" class="nav-link1">Job Opportunity</a>
                                </li>

                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="/make-payment" class="nav-link1" href="#">Make Payment</a>
                                </li>

                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="#" class="nav-link1" href="#">Online Course</a>
                                </li>



                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="/contact-us" class="nav-link1" href="#">Contacts</a>
                                </li>




                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="About-us-bg">
        <div class="About-us-bg-container">
            <p class="About-us-bg-text-1">Contact Us
            </p>


        </div>
    </div>


    <div class="container mt-5">


        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=dublin&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            <a
                href="https://www.maps.ie/route-planner.htm">Journey Planner</a>
        </div>

        <p class="text-center pt-4 pb-4 h3">We are based in Ontario, Canada
        </p>

        <div class="row" id="card_row">


            <div class="col-sm-4">
                <div class="contact-us-div-1 text-center">
                    <i class="fa fa-map-marker make-payment-icon-1 pb-2"></i>
                    <p class="text-red-1" id="our_location">

                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-us-div-1 text-center">
                    <i class="fa fa-phone make-payment-icon-1  pb-2"></i>
                    <p class="text-red-1" id="our_phone">
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-us-div-1 text-center">
                    <i class="fa fa-history make-payment-icon-1  pb-2"></i>
                    <p class="text-red-1">
                        Email us 24/7 at canadiandigitaldriving@gmail.com<br> Call Us. Weekend 10am to 4pm (EST)

                    </p>
                </div>
            </div>



        </div>




        <form action="/contact-us" class="mt-5" id="form" method="post">

            <div class="form-row" id="inner_container">
                <div class="form-group col-md-4">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" placeholder="Name" name="name">
                </div>
                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
                <div class="form-group col-md-4">
                    <label for="phone">Phone</label>
                    <input type="number" class="form-control" placeholder="Phone" min="0" name="phone">
                </div>

            </div>

            <div class="form-group">
                <label>Subject</label>
                <input type="text" class="form-control" placeholder="Subject" name="subject">
            </div>

            <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" placeholder="Message" name="message"></textarea>
            </div>



            <button type="submit" class="btn make-payment-btn-1">Send</button>
        </form>


    </div>








    <footer class="section-top-1 ">

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="img/logo.png" class="img-fluid">
                </div>
                <div class="col-sm-3 ">
                    <p class="footer-text-1"> Helpful Links</p>
                    <p class="footer-text-2">
                        Our Services</p>
                    <p class="footer-text-2">
                        Registration Form</p>
                    <p class="footer-text-2">

                        FAQs</p>
                    <p class="footer-text-2">
                        Make Payment</p>
                    <p class="footer-text-2">
                        <a data-toggle="modal" data-target="#myModal">Select Location</a></p>

                    <select class="make-payment-select-2" name="forma1" id="show_locations">
           
</select>

                </div>
                <div class="col-sm-3">
                    <p class="footer-text-1"> Helpful Links</p>
                    <p class="footer-text-2">
                        Our Services</p>
                    <p class="footer-text-2">
                        Registration Form</p>
                    <p class="footer-text-2">

                        FAQs</p>
                    <p class="footer-text-2">
                        Make Payment</p>
                    <p class="footer-text-2">
                        Packages
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <span class="footericon1 footer-text-1 mb-3 pl-3">Connected Us</span>

                        <div class="col-sm-12">
                            <!-- Add font awesome icons -->
                            <a href="#" class="fa footericon fa-facebook"></a>
                            <a href="#" class="fa footericon fa-twitter"></a>
                            <a href="#" class="fa footericon fa-google"></a>
                            <a href="#" class="fa footericon fa-linkedin"></a>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </footer>


    <script>
        class UI {

            constructor(city) {
                this.city = city
            }

            static getLocations = async() => {

                //let locations = ['Missisaga', 'brampton', 'calgery', 'Toronto', 'Otawa'];

                let locations = [];

                try {

                    const res = await fetch('/driving-school-location', {
                        method: 'GET',
                    });
                    const data = await res.json();
                    locations = data;

                    if (data.errors) {

                    }
                    if (data) {
                        // location.assign('/admin-dashboard');
                        const containers = document.querySelectorAll('#show_locations')
                            //console.log(containers)

                        containers.forEach(container => {

                            //console.log(locations)
                            locations.map(location => {

                                container.innerHTML += `
        <option>${location.location}</option>
        `
                            })

                        })


                    }


                } catch (error) {

                }

            }

            static getPackage = async() => {

                const city = localStorage.getItem("drivinglocationcanada");
                const location = document.getElementById('our_location');
                const phone = document.getElementById('our_phone');



                try {

                    const res = await fetch('/driving-school-getPackageByCityName', {
                        method: 'POST',
                        body: JSON.stringify({
                            location: city
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await res.json();
                    console.log(data)
                        //console.log(data)
                    if (data.errors) {}
                    if (data) {
                        //console.log(data)
                        data.map(packg => {

                            var location_node = document.createTextNode(`
                          A) our location is ${packg.location}
                          B) package is ${packg.package}`);
                            location.appendChild(location_node)

                            var phone_node = document.createTextNode(`${packg.options[0].phone}`);
                            phone.appendChild(phone_node)



                        })


                    }

                } catch (error) {

                }


            }

            static sendInformation(body, fields) {

                //console.log(body)

                fetch('contact-us-form', {
                    method: 'post',
                    body: JSON.stringify(body),
                    headers: {
                        'Content-Type': 'application/json'
                    }

                }).then(function(response) {
                    return response.json();
                }).then(function(data) {
                    UI.showAlert("message is sent successfully", "success")
                    UI.emptyFields(fields)
                    location.reload()
                });




            }

            static emptyFields(e) {

                e.target.name.value = '',
                    e.target.email.value = '',
                    e.target.phone.value = '',
                    e.target.subject.value = '',
                    e.target.message.value = ''

            }

            static showAlert(message, className) {

                const div = document.createElement('div');
                div.className = `alert alert-${className}`;
                div.appendChild(document.createTextNode(message));
                const form = document.querySelector('#form');
                const inner = document.querySelector('#inner_container');
                form.insertBefore(div, inner);

                // Vanish in 3 seconds
                setTimeout(() => document.querySelector('.alert').remove(), 3000);


            }

            static submitForm(e) {

                e.preventDefault();

                const body = {

                    name: e.target.name.value,
                    email: e.target.email.value,
                    phone: e.target.phone.value,
                    subject: e.target.subject.value,
                    message: e.target.message.value

                }

                if (e.target.name.value == '' || e.target.email.value == '' || e.target.phone.value == '',
                    e.target.subject.value == '', e.target.message.value == '') {

                    UI.showAlert("please fill all fields", "danger")
                    UI.emptyFields(e)
                    return;
                }

                UI.sendInformation(body, e)



            }



        }


        const setValues = (e) => {

            localStorage.removeItem('drivinglocationcanada');
            localStorage.setItem("drivinglocationcanada", e.target.value)
            setTimeout(() => {
                location.reload();
            }, 2000);
        }

        // Event: Display Locations
        document.addEventListener('DOMContentLoaded', UI.getLocations);
        document.addEventListener('click', UI.chooseLocation);
        const form = document.getElementById("form")
        form.addEventListener('submit', UI.submitForm);
        UI.getPackage();
        const select = document.getElementById('show_locations');
        select.addEventListener('click', setValues)
        new UI(localStorage.getItem("drivinglocationcanada"))
    </script>

</body>

</html>