<!DOCTYPE html>
<html lang="en">
<head>
  <title>Canadian Digital Driving School</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/Waves.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">


  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }



  </style>
</head>

  <body> 


  <div class="navigation-wrap  start-header start-style">
    <div class="top-nav-1">
      <div class="">
      <div class="row">
        <div class="col-sm-7">
      <p class="top-nav-1-text-1">    MTO Approved. Beginner Driving Education Course Provider
Gain eligibility for insurance discount</p></div>


<div class="col">
<span class="top-nav-1-text-1">Select Location</span>

<!---show locations here -->
<select class="make-payment-select-2" name="forma1" id="show_locations">
               
</select>


</div>



      </div>


    </div>



  </div>
    <div class="">
      <div class="row">
        <div class="col-12">
            <!--header -->
             <!--header -->
              <!--header -->

              <%- include('partials/canadaDrivingHeader'); -%>


        </div>
      </div>
    </div>

  </div>

    <!-- Simple CSS Waves1-->


<div id="carousel" class="carousel slide hero-slides" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active" data-target="#carousel" data-slide-to="0"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active boat">
     
          <div class="w-100">
            <div class="caption animated fadeIn">
              <h2 class="animated fadeInLeft">Explore the river valley</h2>
              <p class="animated fadeInRight ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
              <a class="animated fadeInUp btn delicious-btn" href="#">Learn more</a>
            </div>
         
      </div>
    </div>
    <div class="carousel-item sea">
      
          <div class="w-100">
            <div class="caption animated fadeIn">
              <h2 class="animated fadeInLeft">Explore the river valley</h2>
              <p class="animated fadeInRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
              <a class="animated fadeInUp btn delicious-btn" href="#">Learn more</a>
            </div>
          </div>
       
    </div>
    <div class="carousel-item river">
     
          <div class="w-100">
            <div class="caption animated fadeIn">
              <h2 class="animated fadeInLeft">Explore the river valley</h2>
              <p class="animated fadeInRight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
              <a class="animated fadeInUp btn delicious-btn" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
   
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</div>
<div class="header1">

<div class="inner-header1 flex1">
<!--Waves1 Container-->
<div>
<svg class="waves1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax1">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
<!--Waves1 end-->

</div>
<!--Header1 ends-->


<div class="container">
<div class="row">
  <div class="col-sm-3">
          
    <div class="step-box-1 ">
      <div class="step-box-1-header-1">          
         <p class="mb-0 font-weight-bold text-center text-light pt-3">
          <i class="fa fa-envelope-open"></i><br>
        Our Services</p>
          </div>

<ul class="home-ul-1" id="our_services">
 <!-- <li>MTO-Approved, professional driving instructors</li>
<li>No time wasted – immediate hands­ on driving lessons</li> -->
</ul>


</div>
    </div>


  <div class="col-sm-3">
        
    <div class="step-box-1 ">
        <div class="step-box-1-header-1 ">          
         <p class="mb-0 font-weight-bold text-center text-light pt-3">
          <i class="fa fa-history"></i><br>
            Working Time</p>
          </div>
<ul class="home-ul-1" id="working_times">
 <!-- <li>Email us 24/7 at canadiandigitaldriving@gmail.com</li>
<li></li>Call Us. Weekend 10am to 4pm (EST) </li> -->

</ul>
</div>
    </div>


      <div class="col-sm-3">
         
    <div class="step-box-1 ">
       <div class="step-box-1-header-1">          
         <p class="mb-0 font-weight-bold text-center text-light pt-3">
          <i class="fa fa-map-marker"></i><br>
        Location</p>
          </div>
<ul class="home-ul-1" id="our_location">
 <!-- <li>3024 Hurontario Street Unit 206B, </li>
<li>Mississauga ON L5B 4M4.</li>

  B) Digital course available  -->

</ul>



</div>
    </div>



      <div class="col-sm-3">
          
    <div class="step-box-1 ">
      <div class="step-box-1-header-1">          
         <p class="mb-0 font-weight-bold text-center text-light pt-3">
          <i class="fa fa-phone"></i><br>
        Call Us</p>
         </div>
<p class="py-3 px-3" id="our_phone"></p></div>
    </div>

</div>
</div>


<div class="container mt-5 ">
<p class="text-center h4 pb-3">We look forward to seeing you on the road!
</p>

<div class="row">
  <div class="col-sm-6">
    <p class="h4 text-left pt-3 ">Welcome to Early Bird Driving!</p>
<p  class="text-left font-size-12">
Welcome to Early Bird Driving  Learn to drive the right way! We offer services including practical driving lessons. We intend to make driving lessons a worthwhile experience, and even though learning to drive is a serious project,</p>

<p class="text-left font-size-12">
We will try to make it as much fun as possible. We have patient and experienced instructors that trained to include defensive driving techniques along with the quality lessons you should expect for a lifetime of driving. Whatever your driving level or experience we’ll help get you road qualified. Early Bird provides excellent driving lessons for people of all ages and levels with our friendly team of Driving Instructors.</p>
    
  </div>
  <div class="col-sm-6">
       <img src="img/about-us.jpg" class="img-fluid">
  </div>



 <div class="col-sm-6">
       <img src="img/about-us-2.jpg" class="img-fluid">
  </div>

  <div class="col-sm-6">

    <p class="h4 text-left pt-5">Why Us ?
</p>
<p class="text-left font-size-12">
We have a highly qualified and professional team of Instructors who are very patient with all our Students. We will teach you Defensive Driving Techniques and how to avoid collisions. This is why we believe we offer an excellent service towards our students and we hope to do the same for you.</p>

<p class="text-left font-size-12">
After passing your test it will be strange to find an empty front passenger seat. The first time you drive take someone with you for support.
</p>

<p class="text-left font-size-12">When you get your confidence, drive like you own the car…

</p> 

    
  </div>
 






</div>

<!-- 
<div class="why-Us-div-1">
<ul class="nav nav-tabs mx-auto w-50 w-m-100" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="Welcome-tab" data-toggle="tab" href="#Welcome" role="tab" aria-controls="Welcome" aria-selected="true">Welcome </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Early-tab" data-toggle="tab" href="#Early" role="tab" aria-controls="Early" aria-selected="false">Why Us</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="Welcome" role="tabpanel" aria-labelledby="Welcome-tab">

<p class="h4 text-left ">Welcome to Early Bird Driving!</p>
<p  class="text-left font-size-12">
Welcome to Early Bird Driving  Learn to drive the right way! We offer services including practical driving lessons. We intend to make driving lessons a worthwhile experience, and even though learning to drive is a serious project,</p>

<p class="text-left font-size-12">
We will try to make it as much fun as possible. We have patient and experienced instructors that trained to include defensive driving techniques along with the quality lessons you should expect for a lifetime of driving. Whatever your driving level or experience we’ll help get you road qualified. Early Bird provides excellent driving lessons for people of all ages and levels with our friendly team of Driving Instructors.</p>  </div>
  <div class="tab-pane fade" id="Early" role="tabpanel" aria-labelledby="Early-tab">


</div></div></div></div>

 -->
</div>











  <section class="section mt-5">
    <div class="container">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-flipper effect__hover" data-id="1">
            <div class="card__front">
              <div class="card card-01">
                <div class="profile-box-01">
                  <img class="card-img-top" src="img/ministry.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Ministry Approved Driver Training Courses

</h4>
                    <p class="card-text">Highly qualified and professional team of
 Instructors
Female instructor also available</p>
                </div>
              </div>
            </div>

            <div class="card__back">
              <div class="card card-01">
                <div class="card-body text-center">
                  <h4 class="card-title">Ministry Approved Driver Training Courses

</h4>
                    <p class="card-text">Highly qualified and professional team of
 Instructors
Female instructor also available</p>
                                   <a href="#" class="btn btn-default text-uppercase">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-flipper effect__hover" data-id="1">
            <div class="card__front">
              <div class="card card-01">
                <div class="profile-box-01">
                  <img class="card-img-top" src="img/adventure-baltic-sea-car.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">Instructors</h4>
                  <p class="card-text">Female instructor also available
</p>
                </div>
              </div>
            </div>


            <div class="card__back">
              <div class="card card-01">
                <div class="card-body text-center">
                        <h4 class="card-title">Instructors</h4>
                  <p class="card-text">Female instructor also available
</p>

                                   <a href="#" class="btn btn-default text-uppercase">Read More</a>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-flipper effect__hover" data-id="1">
            <div class="card__front">
              <div class="card card-01">
                <div class="profile-box-01">
                  <img class="card-img-top" src="img/adult-automotive-blur.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <span class="badge-box"><i class="fa fa-check"></i></span>
                  <h4 class="card-title">99% Success rate</h4>
                  <p class="card-text">Flexible schedule 
Nervous drivers training</p>
                </div>
              </div> 
 

            </div>

            <div class="card__back">
              <div class="card card-01">
                <div class="card-body text-center">
                   <h4 class="card-title">99% Success rate</h4>
                  <p class="card-text">Flexible schedule 
Nervous drivers training</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


    <!---Foooter here -->
    <!---Foooter here -->
    <%- include('partials/canadaDrivingFooter'); -%>

<!-- 
    <div id="myModal" class="modal fade  " role="dialog" aria-modal="true">
        <div class="modal-dialog  modal-dialog-1">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                

                <p class="mb-1 text-red-1 h4">Select Location</p>

 <select class="make-payment-select-1 w-100" name="forma" onchange="location = this.value;">
                <option selected disabled=""> Please Select Location</option>

<option value="index2.html">
            Brampton Central            </option>
                        <option value="index2.html">
            Brampton North East            </option>
                        <option value="index2.html">
            Brampton North West            </option>
                        <option value="index2.html">
            Burlington North            </option>
                        <option value="index2.html">
            Burlington South            </option>
                        <option value="index2.html">
            Milton            </option>
                        <option value="index2.html">
            Mississauga Dixie            </option>
                        <option value="index2.html">
            Mississauga Streetsville            </option>
                        <option value="index2.html">
            Oakville Downtown            </option>
                        <option value="index2.html">
            Oakville Glen Abbey            </option>
                        <option value="index2.html">
            Toronto Central / Downtown            </option>
                        <option value="index2.html">
            Toronto Etobicoke            </option>
                        <option value="index2.html">
            Toronto North York            </option>
                        <option value="index2.html">
            Toronto Scarborough            </option>
                      </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-red" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

<script type="text/javascript">
$('.modal').modal('show');

</script>
 -->


<script>

 async function getPackage(){
    
    const city = localStorage.getItem("drivinglocationcanada");
    const ourservices = document.getElementById('our_services');
    const workingtimes = document.getElementById('working_times');
    const ourlocation = document.getElementById('our_location');
    const ourphone = document.getElementById('our_phone');
    

    //console.log(city)
    
    try {
                     
                     const res = await fetch('/driving-school-getPackageByCityName', { 
                       method: 'POST', 
                       body: JSON.stringify({location: city}),
                       headers: {'Content-Type': 'application/json'}
                     });
                     const data = await res.json();
                     console.log(data)
                     //console.log(data)
                     if (data.errors) {
                     }
                     if (data) {
                         //console.log(data)
                         data.map(packg => {
                          ourservices.innerHTML += `
                            
                              <li>${packg.options[0].description}</li>
                        
                            `   
                            
                            workingtimes.innerHTML += `
                            
                              <li>${packg.options[0].time}</li>
                        
                            ` 

                            ourlocation.innerHTML = packg.location
                            var node = document.createTextNode(`${packg.options[0].phone}`);
                            ourphone.appendChild(node)

                         })

                         
                     }
               
                    } catch (error) {
                      
                    }

  }


 const setValues = (e) => {

    localStorage.removeItem('drivinglocationcanada');
    localStorage.setItem("drivinglocationcanada", e.target.value)
    setTimeout(() => {
    location.reload(); 
  },2000);
}

getPackage();

const select = document.getElementById('show_locations');
select.addEventListener('click', setValues)


</script>


</body>

</html>
