<!DOCTYPE html>
<html lang="en">

<head>
    <title>Canadian Digital Driving School</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">
    <style>
        /* Make the image fully responsive */
        
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        
        #allul li {
            padding: 5px;
        }
    </style>
</head>

<body>

    <div class="navigation-wrap  start-header start-style">
        <div class="top-nav-1">
            <div class="">
                <div class="row">
                    <div class="col-sm-7">
                        <p class="top-nav-1-text-1"> MTO Approved. Beginner Driving Education Course Provider Gain eligibility for insurance discount</p>
                    </div>


                    <div class="col">
                        <span class="top-nav-1-text-1">Select Location</span>
                        <!---show locations here -->
                        <select class="make-payment-select-2" name="forma1" id="show_locations">
         
</select>

                    </div>

                </div>

            </div>



        </div>
        <div class="">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">

                        <a class="navbar-brand" href="/">
                            <img src="img/logo.png" class="img-fluid">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-5 py-4 py-md-0">
                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a href="/home" class="nav-link1">Home</a>
                                </li>
                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="/package" class="nav-link1">Packages</a>
                                </li>
                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="#" class="nav-link1">Road Test Booking</a>
                                </li>
                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="/job-opportunity" class="nav-link1">Job Opportunity</a>
                                </li>

                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="/make-payment" class="nav-link1" href="#">Make Payment</a>
                                </li>

                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="#" class="nav-link1" href="#">Online Course</a>
                                </li>



                                <li class="nav-item1 pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a href="/contact-us" class="nav-link1" href="#">Contacts</a>
                                </li>




                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>

    </div>


    <div class="About-us-bg">
        <div class="About-us-bg-container">
            <p class="About-us-bg-text-1">Package </p>


        </div>
    </div>


    <div class="container mt-5 mb-3">
        <div class="card-deck row text-center" id="card_deck">

        </div>
    </div>




    <footer class="section-top-1 ">

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="img/logo.png" class="img-fluid">
                </div>
                <div class="col-sm-3 ">
                    <p class="footer-text-1"> Helpful Links</p>
                    <p class="footer-text-2">
                        Our Services</p>
                    <p class="footer-text-2">
                        Registration Form</p>
                    <p class="footer-text-2">

                        FAQs</p>
                    <p class="footer-text-2">
                        Make Payment</p>
                    <p class="footer-text-2">
                        <a data-toggle="modal" data-target="#myModal">Select Location</a></p>


                </div>
                <div class="col-sm-3">
                    <p class="footer-text-1"> Helpful Links</p>
                    <p class="footer-text-2">
                        Our Services</p>
                    <p class="footer-text-2">
                        Registration Form</p>
                    <p class="footer-text-2">

                        FAQs</p>
                    <p class="footer-text-2">
                        Make Payment</p>
                    <p class="footer-text-2">
                        <select class="make-payment-select-2" name="forma1" id="show_locations">
           
      </select>
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <span class="footericon1 footer-text-1 mb-3 pl-3">Connected Us</span>

                        <div class="col-sm-12">
                            <!-- Add font awesome icons -->
                            <a href="#" class="fa footericon fa-facebook"></a>
                            <a href="#" class="fa footericon fa-twitter"></a>
                            <a href="#" class="fa footericon fa-google"></a>
                            <a href="#" class="fa footericon fa-linkedin"></a>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </footer>



    <script>
        document.addEventListener('DOMContentLoaded', loadFunctions);

        class UI {


            static async bookPackage(booking) {

                console.log(booking)
                const package_selected = booking.querySelector('.card-header h4').textContent
                const price = booking.querySelector('.card-body h1').textContent.replace("$", "").trim()
                let time = booking.querySelectorAll('ul li')[0].textContent.trim()
                let description = booking.querySelectorAll('ul li')[1].textContent.trim()
                let address = booking.querySelectorAll('ul li')[2].textContent.trim()
                let service = booking.querySelectorAll('ul li')[3].textContent.trim()
                let phone = booking.querySelectorAll('ul li')[4].textContent.trim()
                let location = booking.querySelectorAll('ul li')[5].textContent.trim()

                time = time.replace("Time :", "").trim()

                const bookinfo = {
                    package: package_selected,
                    time: time,
                    description: description,
                    address: address,
                    service: service,
                    phone: phone,
                    location: location,
                    price: price
                }

                console.log(bookinfo)

                localStorage.setItem('bookinginfo', JSON.stringify(bookinfo));


            }

            static async getPackage() {

                const city = localStorage.getItem("drivinglocationcanada");
                const cards = document.getElementById('card_deck');
                //console.log(city)

                try {

                    const res = await fetch('/driving-school-getPackageByCityName', {
                        method: 'POST',
                        body: JSON.stringify({
                            location: city
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await res.json();
                    //console.log(data)
                    if (data.errors) {}
                    if (data) {
                        console.log(data)
                        data.map(packg => {
                            cards.innerHTML += `
                            
            <div class="col-sm-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0">${packg.package}</h4>
                    <br>
                </div>
                <div class="card-body">
                    <h1 class="card-title">$ ${packg.options[0].price}</h1>
                    <ul class="list-unstyled mt-3 mb-4" id="allul">
                      <li>Time : ${packg.options[0].time}</li>
                        <li>${packg.options[0].description}</li>
                        <li>${packg.options[0].address}</li>
                        <li>${packg.options[0].service}</li>
                        <li>${packg.options[0].phone}</li>
                        <li>${packg.location}</li>
                        <li>-</li>
                        </ul>
                    <a type="button" a href="/book-package-page" class="btn package-btn-1" id="bookingbutton">Join Now</a>
                </div>
            </div>
          </div>

                        
                            `
                        })
                    }

                } catch (error) {

                }

            }

            static getLocations = async() => {

                //let locations = ['Missisaga', 'brampton', 'calgery', 'Toronto', 'Otawa'];

                let locations = [];

                try {

                    const res = await fetch('/driving-school-location', {
                        method: 'GET',
                    });
                    const data = await res.json();
                    locations = data;

                    if (data.errors) {

                    }
                    if (data) {
                        // location.assign('/admin-dashboard');
                        const containers = document.querySelectorAll('#show_locations')
                            //console.log(containers)

                        containers.forEach(container => {

                            //console.log(locations)
                            locations.map(location => {

                                container.innerHTML += `
     <option>${location.location}</option>
     `
                            })

                        })


                    }


                } catch (error) {

                }

            }

            //get values from options and set in local storage and refresh
            static setValues = (e) => {

                localStorage.removeItem('drivinglocationcanada');
                localStorage.setItem("drivinglocationcanada", e.target.value)
                setTimeout(() => {
                    location.reload();
                }, 2000);


            }

        }

        async function loadFunctions() {


            const select = document.getElementById('show_locations');
            select.addEventListener('click', UI.setValues)

            await UI.getPackage();
            await UI.getLocations();
            const book = document.getElementById('bookingbutton');
            book.addEventListener('click', (e) => UI.bookPackage(e.target.parentElement.parentElement))


        }
    </script>


</body>

</html>