<style>

    .dashboard_main_wrapper{
        
            padding: 50px;
        }
        
        </style>


        <div class="dashboard_main_wrapper">


            <h1 class="lead">Add Package</h1>

            <form action="/add-package" enctype="multipart/form-data" method="post" id="form">

                <div class="form-group">
                    <label for="package_location">Location</label>
                    <input type="text" class="form-control" id="package_location">
                  </div>

                
                <div class="form-group">
                    <label for="exampleInputTopicName" for="package_selection"> Select a Package</label>
                    <select class="form-control" name="package_selection" id="package_selection"> 
                        <option value="Regular Package"> Regular Package</option>    
                        <option value="Standard Package"> Standard Package</option>   
                        <option value="New To Canada Package"> New To Canada Package</option>   
                        <option value="Dgital Package"> Dgital Package </option>   

                    </select>
                </div>
            
                <div class="form-group">
                    <label for="package_title">Title</label>
                    <input type="text" class="form-control" id="package_title">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="editor" rows="5"></textarea>
                  </div>

                <div class="form-group">
                    <label for="package_price">Price</label>
                    <input type="text" class="form-control" id="package_price">
                  </div>

                  <div class="form-group">
                    <label for="package_valid">Validity</label>
                    <input type="text" class="form-control" id="package_valid">
                  </div>
            
                  <div class="form-group">
                    <label for="package_expire">Expires</label>
                    <input type="text" class="form-control" id="package_expire">
                  </div>
              
                
                <div class="form-group">
                    <label for="exampleInputTopicName"> News photo </label>
                    <input type="file" name="newsPhoto" class="form-control" id="exampleInputTopicName" aria-describedby="topicNameHelp">
                </div>

        
        
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    
        </div>

        <script>


var form = document.querySelector('#form');
form.addEventListener('submit', addPromotion);
            
       function addPromotion(e){
        e.preventDefault();
     
        const location = document.getElementById('package_location').value; 
        const package = document.getElementById('package_selection').value;
        const title = document.getElementById('package_title').value;
         const description = document.getElementById('editor').value;
        const price = document.getElementById('package_price').value;
         const valid = document.getElementById('package_valid').value;
        const expires = document.getElementById('package_expire').value;
        
        var data = {
             "location" : location,
             "package": package,
             "title": title,
             "description" : description,
             "price": price,
             "valid" : valid,
             "expires": expires
        }
        
        console.log([location, package, title, description, price, valid, expires])

        fetch('http://localhost:5000/admin-dashboard/add-package', {
        method: 'post',
        body: JSON.stringify(data),
        headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        "Access-Control-Allow-Origin": "http://localhost:5000/admin-dashboard/add-package"
      }
       }).then(function(response) {
       return response.json();
       }).then(function(data) {
            if(data){
              location.reload() 
            }
      });  

    }


        </script>