<style>

    .dashboard_main_wrapper{
        
            padding: 50px;
        }
        
        </style>
        
        <div class="dashboard_main_wrapper">
                
            <h1>Package Page</h1>
    
        </div>