<style>
    .dashboard_main_wrapper {
        padding: 20px;
    }
</style>


<div class="dashboard_main_wrapper">


    <h1 class="display-3" style="text-align: center;">Applied For Jobs</h1>


    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i> All Bookings </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <th> Name</th>
                        <th> Email </th>
                        <th> Phone</th>
                        <th> Subject </th>
                        <th> Message </th>
                        <th> Action </th>
                    </thead>

                    <tfoot>
                        <th> Name</th>
                        <th> Email </th>
                        <th> Phone</th>
                        <th> Subject </th>
                        <th> Message </th>
                        <th> Action </th>
                    </tfoot>

                    <tbody id="table-body">


                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!--modal -->

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h1></h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <script>

        class Jobs{

            constructor(name, email, phone, subject, message){
                this.name = name; 
                this.email = email; 
                this.phone = phone; 
                subject = subject; 
                this.message = message
            }

        }

        class UI {


            static myFunction()

            {

                let values = [];

                const row = document.getElementById('clicked_row').parentElement;   
                
                var row_value = ""; 
  
                for (var j = 0; j < (row.cells.length) -1 ; j++) { 
           
                    values.push(row.cells[j].innerHTML) 
                } 
                console.log(values)
                const user = new Jobs(values[0], values[1],values[2],values[3],values[4])
                
            }

            static getJobs = async() => {

                //let locations = ['Missisaga', 'brampton', 'calgery', 'Toronto', 'Otawa'];

                let jobs = [];

                try {

                    const res = await fetch('/driving-school-jobs', {
                        method: 'GET',
                    });
                    const data = await res.json();
                    jobs = data;

                    if (data.errors) {

                    }
                    if (data) {

                        console.log(data)

                        const body = document.getElementById('table-body')

                        jobs.map(booking => {

                            body.innerHTML += `

                            <tr>
                                <td>${booking.name}</td>
                                <td> ${booking.email}....</td>
                                <td> ${booking.phone}....</td>
                                <td> ${booking.subject}....</td>
                                <td> ${booking.message}....</td>

                                <td id="clicked_row"> <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-info btn-sm" onclick="UI.myFunction()"> View </a> </td> 
                                
                             </tr>
                            `

                        })

                    }


                } catch (error) {

                }

            }

        }

        // Event: Display Locations
        document.addEventListener('DOMContentLoaded', UI.getJobs);
    </script>